[submodule "DECA"]
	path = DECA
	url = https://github.com/yfeng95/DECA.git
[submodule "emoca"]
	path = emoca
	url = https://github.com/leg0m4n/emoca.git
[submodule "ConvLSTM_pytorch"]
	path = ConvLSTM_pytorch
	url = https://github.com/ndrplz/ConvLSTM_pytorch.git
